.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0;
  height: 5vh;
  padding: 10px;
  
  .logo {
    font-size: 3rem;
    text-shadow: 1px 1px yellow;
  }

  .navigation ul{
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button{
    width: 10rem;
    background-color: yellow;
    height: 3rem;
    border-radius: 0.5rem;
  }
}