<%= link_to admin_cinemas_path do %>
  <button>Back</button>
<% end %>

<br>
<br>

<h1><%= @cinema.name %> </h1>
<%= link_to new_admin_cinema_movie_path(@cinema) do %>
  <button>Add Movie</button>
<% end %>

<h1>Movies:</h1> 
<% @cinema.movies.each do |m| %>
  <h3>  <%= link_to m.title, admin_cinema_movie_path(@cinema, m) %> </h3>
<% end %>




