<div id="<%= dom_id time_slot %>">
  <p>
    <strong>Name:</strong>
    <%= time_slot.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_slot.user_id %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= time_slot.seat_id %>
  </p>

</div>
